/****************************** FONTS ******************************/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?hon1cf');
	src:url('../fonts/icomoon.eot?#iefixhon1cf') format('embedded-opentype'),
		url('../fonts/icomoon.woff?hon1cf') format('woff'),
		url('../fonts/icomoon.ttf?hon1cf') format('truetype'),
		url('../fonts/icomoon.svg?hon1cf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE608:before {
	content: "\e608";
}
.icon-uniE600:before {
	content: "\e600";
}
.icon-location:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-arrow-left:before {
	content: "\e604";
}
.icon-arrow-down:before {
	content: "\e605";
}
.icon-arrow-up:before {
	content: "\e606";
}
.icon-arrow-right:before {
	content: "\e607";
}

/****************************** RESET ******************************/
* {
	margin: 0;
	padding: 0;
}

/****************************** GLOBAL ******************************/
html {
	height: 100%;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	height: 100%;
	line-height: normal;
}

h1, h2, h3 {
	font-weight: 300;
}

/****************************** LOGO ********************************/
#logo-container {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    top: 15%;
}

.logo {
    width: 600px;
    margin: 0 auto;
}

#img-logo {
    display: none;
}

#space-holder {
    height: 904px;
}

/****************************** HEADER ******************************/
#main-content {
    display: none;
}

header {
	position: relative;
	width: 100%;
    height: 100%;
	
	text-align: center;
	font-size: 20px;
}

#header-info {
    display: none;
    position: absolute;
    width: 100%;
    top: 60%;
    height: 40%;
}

header img {
	display: block;
	width: 600px;
	margin: 0 auto;
	/* padding-top: 7%;*/
}

#tagline {
	clear: both;
	margin-bottom: 10px;
	font-size: 30px;
}

header .highlight {
	display: inline-block;
	font-style: italic;
	color: #77aaef;
}

#date {
	display: inline-block;
	margin-right: 20px;
	color: #77aaef;
}

#location {
	display: inline-block;
    margin-bottom: 30px;
}

header .icon-arrow-down {
    position: absolute;
    width: 100%;
	bottom: 10%;
	color: #ffc301;
}

/****************************** INFO ******************************/
#info {
/*	min-height: 100%;*/
	width: 100%;
}
#info h1 {
	padding: 40px;
	text-align: center;
	background-color: #77aaef;
	color: white;
}

#info ul {
	width: 650px;
	margin: 0 auto 40px;
}

#info li {
	list-style: none;
	margin-top: 20px;
}
	#info h2 {
		display: inline-block;
		float: left;
		width: 100px;
		margin-right: 20px;
		
		text-transform: lowercase;
		font-style: italic;
		color: #ffc301;
		
	}
	#info p {
		display: inline-block;
		width: 500px;
	}
/****************************** TL;DR ******************************/
#tldr-section {
	display: block;
	background-color: #b8b8b8;
	overflow: auto;
}
	#tldr-container {
		width: 534px;
		height: auto;
		overflow: auto;
		margin: 0px auto;
	}
		#tldr-section h1 {
			display: inline-block;
			float: left;
			line-height: 186px;
			margin-right: 20px;
			font-size: 40px;
		}
		#tldr-section h2 {
			display: inline-block;
			float: left;
			margin-bottom: 20px;

			color: #ffc301;
			font-size: 120px;
		}
		#tldr-section ul {
			display: inline-block;
			float: left;
			margin-left: 20px;
			margin-top: 40px;
			
			font-size: 24px;
		}
		#tldr-section li {
			display: block;
			list-style: none;
		}
		#tldr-section [class^="icon-"], #tldr-section [class*=" icon-"] {
			display: inline-block;
			margin-right: 5px;
		}
	

/****************************** SPONSORS ******************************/
#sponsors {
	padding: 40px;
	background-color: #77aaef;
	color: white;
	text-align: center;
}

#sponsors h1 {
	text-transform: uppercase;
}

/****************************** MEDIA QUERIES ******************************/
@media only screen and (max-width: 700px) {
	#logo-container img {
		width: 85.71%;
	}
	
    #header-info {
        top: 45%;
        height: 55%;
    }
    
	#info {
		height: auto;
	}
	#info ul {
		width: 92.86%;
		margin: 30px auto;
	}
	#info h2 {
		display: block;
		float: none;
		margin: 5px 0px;
	}
	#info p {
		display: block;
		float: none;
		width: 100%;
	}
	
	#tldr-container {
		width: 380px;
		margin: 0 auto;
        padding: 0 5% 0 5%;
	}
	
	#tldr-section h1 {
		display: block;
		float: none;
		line-height: normal;
		margin-top: 20px;
		
		color: #ffc301;
	}
	
	#tldr-section h2 {
		display: none;
	}
	
	#tldr-section ul {
		display: block;
		float: none;
		margin: 10px 0px;

		font-size: 24px;
	}
}
