/****************************** FONTS ******************************/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?hon1cf');
	src:url('../fonts/icomoon.eot?#iefixhon1cf') format('embedded-opentype'),
		url('../fonts/icomoon.woff?hon1cf') format('woff'),
		url('../fonts/icomoon.ttf?hon1cf') format('truetype'),
		url('../fonts/icomoon.svg?hon1cf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE608:before {
	content: "\e608";
}
.icon-uniE600:before {
	content: "\e600";
}
.icon-location:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-arrow-left:before {
	content: "\e604";
}
.icon-arrow-down:before {
	content: "\e605";
}
.icon-arrow-up:before {
	content: "\e606";
}
.icon-arrow-right:before {
	content: "\e607";
}

/****************************** RESET ******************************/
* {
	margin: 0;
	padding: 0;
}

/****************************** GLOBAL ******************************/
html {
	height: 100%;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
    font-size: 100%;
	height: 100%;
	line-height: normal;
}

h1, h2, h3 {
	font-weight: 300;
}

/****************************** LOGO ********************************/
#logo-container {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 10%;
}

.logo {
    width: 600px;
    margin: 0 auto;
}

#img-logo {
    display: none;
}

#space-holder {
    height: 2000px;
}

/****************************** HEADER ******************************/
#main-content {
    display: none;
    z-index: -1;
}

header {
	position: relative;
	width: 100%;
	height: 100%;
	
	text-align: center;
	font-size: 1.25em;
}

header img {
	display: block;
	width: 600px;
	margin: 0 auto;
	padding-top: 10%;
}

#tagline {
	clear: both;
	margin-bottom: 10px;
	font-size: 1.875em;
}

header .highlight {
	display: inline-block;
	font-style: italic;
	color: #77aaef;
}

#date {
	display: inline-block;
	margin-right: 20px;
	color: #77aaef;
}

#location {
    display: inline-block;
    margin-bottom: 30px;
}

header .icon-arrow-down {
	margin-top: 5%;
    margin-bottom: 5%;
	
	color: #ffc301;
}

/*********************** REGISTRATION FORM ************************/

.registration {
    padding: 5px;
    background-color: #77aaef;
    border: 1px solid #666;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #B5D0FE;
}
a:active {
    color: #0160FF;
}

#registrationForm, .statusMessage, input[type="submit"], input[type="button"] {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;  
    border-radius: 10px;
}

#registrationForm, .statusMessage {
    color: #666;
    background-color: #ebedf2;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#dfe1e5), color-stop(1, #ebedf2) );
    background: -moz-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );  
    border: 1px solid #aaa;
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    opacity: .95;
}

#registrationForm {
    width: 40em;
    height: 33em;
    padding: 0 1.5em 1.5em 1.5em;
    margin: 0 auto;
    z-index: 1;
}

#registrationForm.positioned {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.statusMessage {
    display: none;
    margin: auto;
    width: 30em;
    height: 2em;
    padding: 1.5em;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
 
.statusMessage p {
    text-align: center;
    margin: 0;
    padding: 0;
}

#registrationForm h2 {
    font-size: 2em;
    font-style: italic;
    letter-spacing: .05em;
    margin: 0 0 1em -.75em;
    padding: 1em;
    width: 19.5em;  
    color: #aeb6aa;
    /*  background: #dfe0e5 url('images/stamp.jpg') no-repeat 15em -3em;  http://morguefile.com/archive/display/606433 */
    border-bottom: 1px solid #aaa;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;  
    border-radius: 10px 10px 0 0;
}
 
 
/* Give form elements consistent margin, padding and line height */
 
#registrationForm ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
 
#registrationForm ul li {
    margin: .9em 0 0 0;
    padding: 0;
}
 
#registrationForm input, #registrationForm label {
    line-height: 1em;
}
 
 
/* The field labels */
 
label {
    display: block;
    float: left;
    clear: left;
    text-align: right;
    width: 28%;
    padding: .4em 0 0 0;
    margin: .15em .5em 0 0;
    font-weight: bold;
}
 
 
/* The fields */
 
input, textarea {
    display: block;
    margin: 0;
    padding: .4em;
    width: 67%;
    font-family: "Georgia", serif;
    font-size: 1em;
    border: 1px solid #aaa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;    
    border-radius: 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;
    -webkit-box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;
    box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;
    background: #fff;
}
 
textarea {
    height: 13em;
    line-height: 1.5em;
    resize: none;
}

#registrationForm *:focus {
    border: 1px solid #66f;
    outline: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

input:valid, textarea:valid {
    background: #dfd;
}

/* The Send and Cancel buttons */
 
input[type="submit"], input[type="button"] {
    float: right;
    margin: 2em 1em 0 1em;
    width: 10em;
    padding: .5em;
    border: 1px solid #666;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;  
    border-radius: 10px;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    color: #fff;
    background: #0a0;
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    opacity: .7;
    -webkit-appearance: none;
    -moz-transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
 
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="button"]:hover,
input[type="button"]:active {
    cursor: pointer;
    opacity: 1;
}
 
input[type="submit"]:active, input[type="button"]:active {
    color: #333;
    background: #eee;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
}
 
input[type="button"] {
    background: #f33;
}

/* Header/footer boxes */
 
.wideBox {
    clear: both;
    text-align: center;
    margin: 70px;
    padding: 10px;
    background: #ebedf2;
    border: 1px solid #333;
}
 
.wideBox h1 {
    font-weight: bold;
    margin: 20px;
    color: #666;
    font-size: 1.5em;
}

/****************************** INFO ******************************/
#info {
/*	min-height: 100%;*/
    width: 100%;
}

#info h1 {
	padding: 40px;
	text-align: center;
	background-color: #77aaef;
	color: white;
}

#info ul {
	width: 650px;
	margin: 0 auto 40px;
}

#info li {
	list-style: none;
	margin-top: 20px;
}

#info h2 {
    display: inline-block;
    float: left;
    width: 100px;
    margin-right: 20px;

    text-transform: lowercase;
    font-style: italic;
    color: #ffc301;
}

#info p {
    display: inline-block;
    width: 500px;
}

/****************************** TL;DR ******************************/
#tldr-section {
	display: block;
	background-color: #b8b8b8;
	overflow: auto;
}

#tldr-container {
    width: 534px;
    height: auto;
    overflow: auto;
    margin: 0px auto;
}

#tldr-section h1 {
    display: inline-block;
    float: left;
    line-height: 186px;
    margin-right: 20px;
    font-size: 2.5em;
}

#tldr-section h2 {
    display: inline-block;
    float: left;
    margin-bottom: 20px;

    color: #ffc301;
    font-size: 7.5em;
}

#tldr-section ul {
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 40px;

    font-size: 1.5em;
}

#tldr-section li {
    display: block;
    list-style: none;
}

#tldr-section [class^="icon-"], #tldr-section [class*=" icon-"] {
    display: inline-block;
    margin-right: 5px;
}
	

/****************************** SPONSORS ******************************/
#sponsors {
	padding: 40px;
	background-color: #77aaef;
	color: white;
	text-align: center;
}

#sponsors h1 {
	text-transform: uppercase;
}

/****************************** MEDIA QUERIES ******************************/
@media only screen and (max-width: 700px) {
	#logo-container img {
		width: 85.71%;
	}
	
	#info {
		height: auto;
	}
	#info ul {
		width: 92.86%;
		margin: 30px auto;
	}
	#info h2 {
		display: block;
		float: none;
		margin: 5px 0px;
	}
	#info p {
		display: block;
		float: none;
		width: 100%;
	}
	
	#tldr-container {
		width: 380px;
		margin: 0 auto;
        padding: 0 5% 0 5%;
	}
	
	#tldr-section h1 {
		display: block;
		float: none;
		line-height: normal;
		margin-top: 20px;
		
		color: #ffc301;
	}
	
	#tldr-section h2 {
		display: none;
	}
	
	#tldr-section ul {
		display: block;
		float: none;
		margin: 10px 0px;

		font-size: 1.5em;
	}
}
